/* desktop */
@media only screen and (min-width:851px){
    body {
        background-color: #04B0DC;
        background-image: url(back.jpg);
        background-attachment:initial;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
    }
    #outer {
        background-color: #444444;
        border-radius: 30px;
        width: 80vw;
        height: 80vh;
        margin-left: 10vw;
        margin-top: 10vh;
        position: relative;
        display: inline-block;
    }
    #inner1 {
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 0px;
        margin-top: 0%;
        position: relative;
    }
    #inner2 {
        background-color: #222222;
        border-radius: 30px;
        width: 70%;
        height: 100%;
        float: right;
        margin-right: 0px;
        margin-top: 0px;
        z-index: 1;
        position: relative;
    }
    #avatar {
        width: 10vw;
        height: 10vw;
        border: 4px solid white;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 20%;
        z-index: 8;
        padding: 0%;
        overflow: hidden;
        position: absolute;
    }
    #imageback {
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        margin-left: 34%;
        margin-top: 25%;
        opacity: 0.5;
        overflow: hidden;
        position: absolute;
    }
    #name {
        color: rgb(206, 204, 204);
        margin-top: 80%;
        margin-left: 25%;
        display: block;
        font-size: 2vw; 
        padding: 0%;
    }
    #job {
        color: rgb(206, 204, 204);
        margin-top: 0%;
        margin-left: 38%;
        display: block;
        font-size: 1.5vw;
    }
    #buttons{
        margin-left: 30.5%;
        margin-top: 0%;
        width: auto;
        height: auto;
        position: relative;
        
    }
    #twitter,#instagram,#linkedin {
        display: inline-block;
        margin-top: 10%;
        border: 0%;
        border-radius: 50%;
        width:2vw;
        height: 2vw;
        position: absolute;
    }
    #twitter {
        background-image: url(twitter.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #twitter:hover {
        background-image: url(twitter-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #linkedin {
        background-image: url(linked\ in.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #linkedin:hover {
        background-image: url(linkedin-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #instagram {
        background-image: url(instagram.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #instagram:hover {
        background-image: url(instagram-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .links{
        padding: 1.3vw;
    }
    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
    }
    #menu-section {
        background-color: #444444;
        border-radius: 40px;
        width: 4vw;
        height: 12vw;
        margin-right: 2vw;
        margin-top: 10vh;
        float: right;
        text-align: center;
    }
    #menu-item {
        margin-top: 25%;  
        padding: 5%;
        color: white;
        font-size: 2vw;
        display: block;
    }
    #menu-item:hover {
        color:#04B0DC;
    }
    #nav-anim a {
        color: #FFFFFF;
        text-decoration: none;
    }
    #content {
        color: rgb(206, 204, 204);
        margin-top: 25%;
        margin-right: 20%;
        margin-left: 5%;
        text-align: justify;
    }
}

/* Tablet */
@media only screen and (max-width:850px) and (min-width:501px){      
    body{
        background-color: #04B0DC;
        background-image: url(back.jpg);
        background-attachment:initial;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
    }
    #outer {
        background-color: #444444;
        border-radius: 30px;
        width: 80vw;
        height: 80vh;
        margin-left: 10vw;
        margin-top: 3%;
        position: relative;
        display: inline-block;
    }
    #inner1 {
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 0px;
        margin-top: 0%;
        position: relative;
    }
    #inner2 {
        background-color: #222222;
        border-radius: 30px;
        width: 70%;
        height: 100%;
        float: right;
        margin-right: 0px;
        margin-top: 0px;
        z-index: 1;
        position: relative;
    }
    #avatar {
        width: 10vw;
        height: 10vw;
        border: 4px solid white;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 20%;
        z-index: 8;
        padding: 0%;
        overflow: hidden;
        position: absolute;
    }
    #imageback {
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        margin-left: 34%;
        margin-top: 25%;
        opacity: 0.5;
        overflow: hidden;
        position: absolute;
    }
    #name {
        color: rgb(206, 204, 204);
        margin-top: 80%;
        margin-left: 21%;
        display: block;
        font-size: 2vw; 
        padding: 0%;
    }
    #job {
        color: rgb(206, 204, 204);
        margin-top: 0%;
        margin-left: 36%;
        display: block;
        font-size: 1.5vw;
    }
    #buttons{
        margin-left: 29.5%;
        margin-top: 0%;
        width: auto;
        height: auto;
        position: relative;
    }
    #twitter,#instagram,#linkedin {
        display: inline-block;
        margin-top: 10%;
        border: 0%;
        border-radius: 50%;
        width:2vw;
        height: 2vw;
        position: absolute;
        opacity: 1;
    }
    #twitter {
        background-image: url(twitter.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #twitter:hover {
        background-image: url(twitter-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #linkedin {
        background-image: url(linked\ in.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #linkedin:hover {
        background-image: url(linkedin-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #instagram {
        background-image: url(instagram.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #instagram:hover {
        background-image: url(instagram-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .links{
        padding: 1.3vw;
    }
    #menu-section {
        background-color: #444444;
        border-radius: 40px;
        width: 28vw;
        height: 7vw;
        margin-left: 10vw;
        margin-top: 3%;
        float: left;
        position: relative;
    }
    #menu-item { 
        color: white;
        padding: 5%;
        margin-top: 0%; 
        margin-left: 2vw;
        font-size: 4vw;
        position: relative;
        float: left;
        display: inline;
    }
    #menu-item:hover {
        color:#04B0DC;
    }
    #content {
        color: rgb(206, 204, 204);
        margin-top: 25%;
        margin-right: 20%;
        margin-left: 5%;
        text-align: justify;
    }
}

/* Mobile */
@media only screen and (max-width:500px) {
    body{
        background-color: #04B0DC;
        background-image: url(backtall.jpg);
        background-attachment:initial;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
    }
    #outer {
        background-color: #444444;
        border-radius: 30px;
        margin-top: 3%;
        margin-left: 10vw;
        margin-bottom: 5vw;
        width: 80vw;
        height: 1000px;
        position: relative;
        float: left;
    }
    #inner1 {
        width: 80vw;
        height: 400px;
        margin-left: 0px;
        margin-top: 0%;
        position: relative;
    }
    #inner2 {
        background-color: #222222;
        border-radius: 30px;
        width: 80vw;
        height: 600px;
        position: relative;
    }
    #avatar {
        border: 4px solid white;
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        margin-left: 30%;
        margin-top: 10%;
        padding: 0%;
        position: absolute;
        overflow: hidden;
        z-index: 1;
    }
    #imageback {
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        margin-left: 35%;
        margin-top: 15%;
        position: absolute;
        overflow: hidden;
        opacity: 0.5;
    }
    #name {
        color: rgb(206, 204, 204);
        margin-top: 58%;
        margin-left: 28%;
        display: block;
        font-size: 5vw; 
        padding: 0%;
        z-index: 1;
        position: absolute;
    }
    #job {
        color: rgb(206, 204, 204);
        margin-top: 69%;
        margin-left: 38%;
        display: block;
        font-size: 4.5vw;
        position: absolute;
    }
    #buttons{
        margin-left: 35%;
        margin-top: 80%;
        width: 100px;
        height: 100px;
        display: block;
        position: absolute;
    }
    #twitter,#instagram,#linkedin {
        display: inline-block;
        border: 0%;
        border-radius: 50%;
        width:30%;
        height: 30%;
        position: absolute;
        /* margin-top: 10%; */
    }
    #twitter {
        background-image: url(twitter.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #twitter:hover {
        background-image: url(twitter-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #linkedin {
        background-image: url(linked\ in.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #linkedin:hover {
        background-image: url(linkedin-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #instagram {
        background-image: url(instagram.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #instagram:hover {
        background-image: url(instagram-hover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .links{
        padding: 3vw;
    }
    #menu-section {
        background-color: #444444;
        border-radius: 40px;
        width: 40vw;
        height: 10vw;
        margin-left: 10vw;
        margin-top: 10vw;
        position: relative;
    }
    #menu-item { 
        color: white;
        padding: 5%;
        margin-top: 2%; 
        margin-left: 3.5vw;
        font-size: 5vw;
        position: relative;
        float: left;
        display: inline;
    }
    #menu-item:hover {
        color:#04B0DC;
    }
    #content {
        color: rgb(206, 204, 204);
        margin-top: 25%;
        margin-right: 5%;
        margin-left: 5%;
        text-align: justify;
        position: absolute;
    }
}

